<%= bootstrap_form_with(model: contact_email, url: organization_contact_email_path(@organization), local: true) do |form| %>
  <%= form.text_field :email %>

  <div class="actions">
    <%= form.primary %>
  </div>
<% end %>
