<h4 class="mt-4"><%= t('downloaders.administer_access_component.heading') %></h4>
<div class="container mt-4">
  <div class="row">
    <%= render Downloaders::AccessFormComponent.new(organization: @organization,
                                                    resources: @groups,
                                                    resource_type: 'Group') %>
    <%= render Downloaders::AccessFormComponent.new(organization: @organization,
                                                    resources: @other_organizations,
                                                    resource_type: 'Organization') %>
  </div>
</div>
