<%= helpers.bootstrap_form_with(model: @organization, url: organization_path(@organization), html: { method: :patch, class: 'pt-4 pb-3' }) do |f| %>
  <div class="mb-3">
    <%= f.select :restrict_downloads, options_for_select([[t('downloaders.restrict_downloads_form_component.unrestricted_option'), false],
                                                          [t('downloaders.restrict_downloads_form_component.restricted_option'), true]],
                                                          @organization.restrict_downloads?), class: 'form-select' %>
    <div class="form-text">
      <%= t('downloaders.restrict_downloads_form_component.form_text') %>
    </div>
  </div>
  <div class="mb-3">
    <%= f.submit t('downloaders.restrict_downloads_form_component.submit_button'), class: 'btn btn-danger' %>
  </div>
<% end %>
