<%= render 'shared/organization_header' %>

<div class="container mb-5">
  <%= render 'header', stream: @stream %>

  <%= render 'job_status', stream: @stream %>

  <%= render 'stream_uploads', stream: @stream  %>
</div>
