<footer class="footer p-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md">
        <%= inline_svg_pack_tag 'media/packs/images/pod_small.svg', width: 30, height: 30, aria_hidden: true, class: 'pod-logo-small' %>
        <small class="d-block mb-3 mt-2 text-muted">&copy; 2020-2022</small>
      </div>
      <div class="col-6 col-md">
        <h5>Documentation</h5>
        <ul class="list-unstyled text-small">
          <li>
            <%= link_to 'Uploading data', 'https://github.com/pod4lib/aggregator/wiki/Uploading-data-using-the-API', class: 'text-muted' %>
          </li>
          <li>
            <%= link_to 'Data requirements', 'https://github.com/pod4lib/aggregator/wiki/Data-requirements', class: 'text-muted' %>
          </li>
          <li>
            <%= link_to 'More documentation (wiki)', 'https://github.com/pod4lib/aggregator/wiki', class: 'text-muted' %>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Other Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://docs.google.com/document/d/1EZG7z_A13jxPfHbYhT7Ae4Ays10fhecqfoGJhqrcjD8/edit">Data Provider &amp Usage Framework</a></li>
          <li><a class="text-muted" href="https://github.com/pod4lib/aggregator">GitHub</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
