<div id="hero" class="position-relative overflow-hidden p-3 p-md-5 text-center bg-dark text-light">
  <div class="bg-image"></div>
  <div class="hero-text col-md-7 p-lr-3 mx-auto my-4">
    <h1 class="display-4 font-weight-normal mb-5">POD Data Lake <span class="badge badge-info">MVP</span></h1>
    <p class="lead font-weight-normal">
      The POD Data Transfer MVP will produce a openly developed minimum viable product to receive and transmit MARC bibliographic and holdings data from multiple institutions
    </p>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">MVP Goal</h2>
      <p class="lead">Support receiving and transmitting both full dumps and delta change sets</p>
    </div>
  </div>
  <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">MVP Goal</h2>
      <p class="lead">Enable external normalization, analysis, and discovery indexing, and basic reporting and data reconciliation</p>
    </div>
  </div>
  <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">MVP Goal</h2>
      <p class="lead">Help POD refine and develop operational models for a service based on the MVP</p>
    </div>
  </div>
</div>
