<div id="hero" class="position-relative overflow-hidden p-3 p-md-5 text-center bg-dark text-light">
  <div class="bg-image"></div>
  <div class="hero-text col-md-7 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal mb-5">POD Data Lake <span class="badge badge-info">MVP</span></h1>
    <p class="lead font-weight-normal">
      The POD Data Transfer MVP will produce a openly developed minimum viable product to receive and transmit MARC bibliographic and holdings data from multiple institutions.
    </p>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
