<div class="container mt-3">
  <h2 class="display-4">Data retention</h2>
  <h3 id="retention" class="hover-anchor">Retention policies<a href="#retention">#</a></h3>
  <p class="lead">
    This page describes implemented data retention policies for the POD Aggregator application.
  </p>
  <p>
    The default stream for an organization is not removed.
  </p>
  <p>
    Non-default streams from an organization are deleted after 3 months of no update activity.
  </p>
  <p>
    The most two recent normalized dumps for a stream are retained. All others are deleted.
  </p>
  <p>
    Deleted record information is retained for 6 months following removal.
  </p>
</div>
