jwt:
  secret: 'i♥️dolphins'
  algorithm: 'HS256'

action_mailer:
  default_options:
    from: 'test@example.com'

contact_email: 'pod-support@lists.stanford.edu'
accessibility_email: 'library-accessibility-contact@lists.stanford.edu'

allow_organization_owners_to_manage_access: false

marc_fixture_seeds:
  host: https://pod.stanford.edu
  token: ''
  upload_count: 5
  file_count: 5
  organizations:
    - Cornell
    - Princeton
    - Stanford

job_status_group:
  active:
    icon_class: 'bi bi-arrow-repeat text-info'
    badge_class: 'bg-primary'
  needs_attention:
    icon_class: 'bi bi-exclamation-triangle-fill text-warning'
    badge_class: 'bg-warning'
  completed:
    icon_class: 'bi bi-check-circle-fill text-success'
    badge_class: 'bg-success'
  failed:
    icon_class: 'bi bi-exclamation-circle-fill text-danger'
    badge_class: 'bg-danger'
  recent:
    icon_class: 'bi bi-check-square-fill'
    badge_class: 'bg-success'

# refer to https://icons.getbootstrap.com/ for icon class names
file_status:
  success:
    icon_class: 'bi bi-file-earmark-fill text-success'
    label: 'Valid MARC (adds, updates, or deletes)'
  deletes:
    icon_class: 'bi bi-file-earmark-excel-fill text-success'
    label: 'Deletes (text file)'
  invalid:
    icon_class: 'bi bi-exclamation-circle-fill text-danger'
    label: 'Invalid MARC'
  not_marc:
    icon_class: 'bi bi-exclamation-triangle-fill text-warning'
    label: 'Neither MARC nor Deletes'
  unknown:
    icon_class: 'bi bi-question-circle-fill text-info'
    label: 'Unknown'

upload_status:
  success:
    icon_class: 'bi bi-file-earmark-fill text-success'
    label: 'Upload success'
  invalid:
    icon_class: 'bi bi-exclamation-circle-fill text-danger'
    label: 'Invalid Data'
  needs_attention:
    icon_class: 'bi bi-exclamation-triangle-fill text-warning'
    label: 'Needs attention'
  unknown:
    icon_class: 'bi bi-question-circle-fill align-middle text-info'
    label: 'Unknown'

download_access_status:
  can_access:
    icon_class: 'bi bi-check-circle-fill text-success'
    label: 'Can download records'
  cannot_access:
    icon_class: 'bi bi-dash'
    label: 'Cannot download records'

download_access_lock_status:
  can_access:
    icon_class: 'bi bi-unlock2-fill text-success'
    label: 'Can download records'
  cannot_access:
    icon_class: 'bi bi-lock-fill text-danger'
    label: 'Cannot download records'

# max. MARC records per OAI-XML file; also max. size of one page in ListRecords
oai_max_page_size: 5000

# base ID of the repository used to generate OAI IDs for records
oai_repository_id: 'pod.stanford.edu'

marc_record_writer_tmpdir: ~

resource_sync_harvest_token: ~
