@import url("bootstrap-overrides.css");
@import url("logo.css");
@import url("pod-icons.css");
@import url("rails_bootstrap_forms.css");
@import url("organizations.css");
@import url("streams.css");
@import url("files.css");
@import url("sparklines.css");

/* background image for homepage banner */
#hero .bg-image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("hero.jpg");
  background-size: contain;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(3.5px) brightness(50%) sepia(50%) hue-rotate(160deg);
}

.direct-upload {  
  position: relative;
  padding: 0.3rem 0.5rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 1rem;
  line-height: 0.9rem;
}

.direct-upload--pending {
  opacity: 0.6;
}

.hover-anchor {
  a {
    padding-left: 0.5rem;
    opacity: 0;
    transition:
      color 0.15s ease-in-out,
      opacity 0.15s ease-in-out;
  }
  &:hover {
    a {
      opacity: 1;
    }
  }
}

.direct-upload__progress {
  position: absolute;
  background: var(--bs-info);
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.2;
  min-width: 50px;
  text-align: center;
  transition:
    width 120ms ease-out,
    opacity 60ms 60ms ease-in;
  transform: translate3d(0, 0, 0);
}

.direct-upload--complete .direct-upload__progress {
  opacity: 0.4;
}

.direct-upload--error {
  &.direct-upload__progress {
    background: var(--bs-danger);
  }

  border-color: var(--bs-danger);
}

input[type="file"][data-direct-upload-url][disabled] {
  display: none;
}

.index-page {
  margin-top: 2rem;
}

.devise-wrap {
  padding-top: 1rem;

  h1 {
    text-align: center;
    padding: 1rem 0;
  }

  /* the main form elements */
  .form-group {
    padding-top: 2rem;
  }

  .form-group:last-child {
    padding-bottom:2rem;
    border-bottom: 2px #000 solid;
  }

  .form-group > label {
    padding-bottom: 0.5rem;
  }

  .form-check {
    margin-bottom: 0;
    padding-left: 0;
  }

  .form-check .form-check-input {
    /* override negative margin-left from BS */
    margin-left: 0;
    margin-right: 5px;
  }

  /* additional links below main form */
  > .links-list > li {
    padding-top: 1rem;
  }

  > .links-list > li > a {
    text-decoration: none;
  }
}

.user-profile-section {
  margin-top: 2rem;

  .actions > span {
    margin-right: 2rem;
    a {
      text-decoration: none;
    }
  }

  #cancel_form {
    margin-top: 2rem;
  }
}


.card-title-info {
  font-size: 1rem;
  font-weight: 500;
}

/* turbo progress bar: render in a more constrasting color, and prevent
  *  layout shift when it appears by absolute-positioning it. see:
  *  https://github.com/pod4lib/aggregator/issues/658 
*/
.turbo-progress-bar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 3px;
  background-color: var(--bs-warning);
  max-width: 100vw;
}

.text-info {
  margin-right: 0.25rem;
  vertical-align: text-bottom;
}

.text-decoration-dotted {
  text-decoration: underline dotted;
}
