/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import 'bootstrap-overrides';
@import 'bootstrap';
@import 'variables';
@import 'logo';
@import 'pod-icons';
@import 'rails_bootstrap_forms';
@import 'organizations';
@import 'streams';
@import 'files';

// background image for homepage banner
#hero .bg-image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: image-url('hero.jpg');
  background-size: contain;
  top: 0; bottom: 0; left: 0; right: 0;
  filter:blur(3.5px) brightness(50%) sepia(50%)  hue-rotate(160deg);
}

.direct-upload {
  position: relative;
  padding: 0.3rem 0.5rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 1rem;
  line-height: 0.9rem;
}

.direct-upload--pending {
  opacity: 0.6;
}

.hover-anchor {
  a {
    padding-left: 0.5rem;
    opacity: 0;
    transition: color .15s ease-in-out,opacity .15s ease-in-out;
  }
  &:hover {
    a {
      opacity: 1;
    }
  }
}

.direct-upload__progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.2;
  min-width: 50px;
  background: $info;
  text-align: center;
  transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
  transform: translate3d(0, 0, 0);
}

.direct-upload--complete .direct-upload__progress {
  opacity: 0.4;
}

.direct-upload--error {
  &.direct-upload__progress {
    background: $danger;
  }

  border-color: $danger;
}

input[type=file][data-direct-upload-url][disabled] {
  display: none;
}

.index-page {
  margin-top: 2rem;
}

.bg-local-practice {
  background-color: lighten($warning, 40%) !important;
}

.devise-wrap {
  padding-top: $spacer;

  h1 {
    text-align: center;
    padding: $spacer 0;
  }

  // the main form elements
  .form-group {
    padding-top: $spacer * 2;
  }

  .form-group:last-child {
    padding-bottom: $spacer * 2;
    border-bottom: 2px #000 solid;
  }

  .form-group > label {
    padding-bottom: $spacer / 2;
  }

  .form-check {
    margin-bottom: 0;
    padding-left: 0;
  }

  .form-check .form-check-input {
    // override negative margin-left from BS
    margin-left: 0;
    margin-right: 5px;
  }

  // additional links below main form
  > .links-list > li {
    padding-top: $spacer;
  }

  > .links-list > li > a {
    text-decoration: none;
  }
}

.user-profile-section {
  margin-top: $spacer * 2;

  .actions > span {
    margin-right: $spacer * 2;
    a {
      text-decoration: none;
    }
  }

  #cancel_form {
    margin-top: $spacer * 2;
  }
}

.card-title-info {
  font-size: 1rem;
  font-weight: 500;
}

// turbolinks progress bar: render in a more constrasting color, and prevent
// layout shift when it appears by absolute-positioning it. see:
// https://github.com/pod4lib/aggregator/issues/658
.turbolinks-progress-bar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 3px;
  background-color: $warning;
  max-width: 100vw;
}

.text-info {
  margin-right: 0.25rem;
  vertical-align: text-bottom;
}
