// List of organizations, etc
.icon-sm {
  height: 20px;
}

// Single organization
.organization {
  .organization-icon {
    height: 50px;
    padding-right: 0.5rem;
    vertical-align: bottom;
  }

  .lead {
    margin-bottom: 0.25rem;
  }
}

// Access bootstrap color utility variables
@import 'bootstrap';

// Table of all organizations
.organizations {
  .icon-column {
    min-width: 68px; // Try to avoid some layout shifting when icons are rendered
  }

  .files-column {
    width: 6ch;
  }
}

.manage-organization-container {
  h2 {
    margin-bottom: $spacer * 2;
  }
  margin-bottom: 3em;
}

.manage-organization-tabs {
  margin: $spacer 0 ($spacer * 3);

  a {
    &.current {
      background-color: $primary;
      color: #fff;
      text-decoration: none; 
    }
    &:hover {
      color: #fff;
    }
  }
}

dl.organization-details {
  dt {
    font-weight: normal;
  }
  dt > *:last-child {
    padding-left: 15px;
  }
}
