// List of organizations, etc
.icon-sm {
  height: 20px;
}

// Access bootstrap color utility variables
@import 'bootstrap';

// Table of organizations
.organizations {
  .icon-column {
    min-width: 35px; // Try to avoid some layout shifting when icons are rendered
  }

  .files-column {
    width: 6ch;
  }
}

.manage-organization-container {
  h2 {
    margin-bottom: $spacer * 2;
  }
  margin-bottom: 3em;
}

.manage-organization-tabs {
  margin: $spacer 0 ($spacer * 3);

  a {
    &.current {
      background-color: $primary;
      color: #fff;
      text-decoration: none; 
    }
    &:hover {
      color: #fff;
    }
  }
}

dl.organization-details {
  dt {
    font-weight: 500;
  }

  dd {
    margin-bottom: 1rem;
    margin-left: 1rem;

    img {
      max-width: 35px;
    }
  }
}
