// Access bootstrap color utility variables
@import 'bootstrap';

.pod-icon > svg, .pod-metadata-status > svg {
  height: 20px;
  width: 20px;
}

.pod-job-tracker-status {
  &.active {
    color: $info
  }

  &.retry,
  &.needs_attention {
    color: $warning
  }

  &.dead,
  &.failed {
    color: $danger
  }

  &.completed {
    color: $success
  }
}

.pod-metadata-status {
  vertical-align: text-bottom;

  &.deletes {
    color: $success;
  }

  &.invalid {
    color: $danger;
  }

  &.not_marc {
    color: $warning;
  }

  &.success {
    color: $success;
  }

  &.unknown {
    color: $info;
  }
}

.table-key li {
  margin-bottom: 0.33rem;
}
