.pod-metadata-status {
  &.unknown::before {
    content: '🔄';
  }

  &.not_marc::before {
    content: '❓';
  }

  &.success::before {
    content: '✅';
  }

  &.invalid::before {
    content: '❌';
  }
}
