<%= bootstrap_form_with(model: organization, local: true) do |form| %>
  <%= form.text_field :name %>
  <%= form.text_field :slug %>

  <div class="actions">
    <%= form.primary %>
  </div>
<% end %>
