<div class="container">
  <h1>New organization</h1>
  <%= bootstrap_form_with(model: @organization, local: true) do |form| %>
    <%= render 'form', organization: @organization, form: form %>
    <%= render 'provider_details_form', organization: @organization, form: form %>
    <div class="actions">
      <%= form.primary 'Create organization' %>
    </div>
  <% end %>
</div>
