<%= render 'shared/organization_header' %>

<div class="container manage-organization-container">
  <%= render 'streams/header', stream: @organization.default_stream %>
  <%= render 'shared/provider_page_header'%>

  <h3>Uploaded files</h3>
  
  <%= render 'streams/stream_uploads', stream: @organization.default_stream, uploads: @uploads %>

</div>
