<ul class="table-key list-unstyled list-inline pt-3" aria-hidden="true">
  <% Settings.metadata_status.each do |status, values| %>
  <li class="list-inline-item">
    <i class="<%= values.icon_class %> pod-metadata-status <%= status %>"></i>
    <span class="align-text-bottom"><%= values.label %></span>
  </li>
  <% end %>
</ul>

<table class="table table-striped mb-3">
  <thead>
    <th class="text-center">Status</th>
    <th>File</th>
    <th>Date created</th>
    <th class="text-end">Size</th>
    <th>Content type</th>
    <th class="text-end">Records</th>
    <th><span class="visually-hidden">Actions</span></th>
  </thead>
  <tbody>
    <%= yield %>
  </tbody>
</table>
