<% content_for(:content) do %>
  <div class="container">
    <div class="mr-auto ml-auto w-25 mt-5 mb-5">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
