<% content_for(:content) do %>
  <%= content_for(:header) %>

  <div class="container">
    <div class="col-md-6 offset-md-3 devise-wrap">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
